name: sync-gpustack-dev-images-daily

on:
  schedule:
    - cron: "45 */4 * * *"
  workflow_dispatch:

jobs:
  sync-gpustack:
    runs-on: ubuntu-22.04

    steps:
      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Run gpustack copy-images
        run: |
          docker run --pull always --rm --privileged --network host --ipc host --entrypoint "" gpustack/gpustack:dev gpustack copy-images \
            --repository gpustack \
            --max-retries 3 \
            --max-workers 2 \
            --dest ${{ vars.DOCKER_MIRROR_REGISTRY }} \
            --dest-user ${{ secrets.DOCKER_MIRROR_USER }} \
            --dest-passwd ${{ secrets.DOCKER_MIRROR_PASSWORD }}
