name: sync-gpustack-runner-and-utility-images-weekly

on:
  schedule:
    - cron: "25 18 * * 0"
  workflow_dispatch:

jobs:
  sync-runtime:
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Run gpustack copy-images (runtime/benchmark-runner)
        run: |
          REPOSITORIES=("runtime" "benchmark-runner")
          for REPO in "${REPOSITORIES[@]}"; do
            echo "Syncing repository: $REPO"
            docker run --pull always --rm --privileged --network host --ipc host --entrypoint "" gpustack/gpustack:dev gpustack copy-images \
              --repository $REPO \
              --max-retries 3 \
              --max-workers 2 \
              --dest ${{ vars.DOCKER_MIRROR_REGISTRY }} \
              --dest-user ${{ secrets.DOCKER_MIRROR_USER }} \
              --dest-passwd ${{ secrets.DOCKER_MIRROR_PASSWORD }}
          done

  sync-runner:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        backend: [ cann, corex, cuda, dtk, maca, musa, neuware, rocm, hggc ]

    steps:
      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Run gpustack copy-images
        run: |
          docker run --pull always --rm --privileged --network host --ipc host --entrypoint "" gpustack/gpustack:dev gpustack copy-images \
            --repository runner \
            --max-retries 3 \
            --max-workers 2 \
            --backend ${{ matrix.backend }} \
            --dest ${{ vars.DOCKER_MIRROR_REGISTRY }} \
            --dest-user ${{ secrets.DOCKER_MIRROR_USER }} \
            --dest-passwd ${{ secrets.DOCKER_MIRROR_PASSWORD }}
