name: sync-latest-release-gpustack-images

on:
  workflow_dispatch:

jobs:
  sync-gpustack:
    runs-on: ubuntu-22.04
    steps:
      - name: Fetch latest release tag (include pre-release)
        id: latest_release
        run: |
          tag=$(curl -s "https://api.github.com/repos/gpustack/gpustack/releases?per_page=1" | jq -r '.[0].tag_name')
          echo "Latest release tag: $tag"
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Run gpustack copy-images
        run: |
          REPOSITORIES=("gpustack" "runtime" "benchmark-runner")
          for REPO in "${REPOSITORIES[@]}"; do
            echo "Syncing repository: $REPO"
            docker run --pull always --rm --privileged --network host --ipc host --entrypoint "" gpustack/gpustack:${{ steps.latest_release.outputs.tag }} gpustack copy-images \
              --repository $REPO \
              --max-retries 3 \
              --max-workers 2 \
              --dest ${{ vars.DOCKER_MIRROR_REGISTRY }} \
              --dest-user ${{ secrets.DOCKER_MIRROR_USER }} \
              --dest-passwd ${{ secrets.DOCKER_MIRROR_PASSWORD }}
          done

  sync-runner:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        backend: [ cann, corex, cuda, dtk, maca, musa, neuware, rocm, hggc ]

    steps:
      - name: Fetch latest release tag (include pre-release)
        id: latest_release
        run: |
          tag=$(curl -s "https://api.github.com/repos/gpustack/gpustack/releases?per_page=1" | jq -r '.[0].tag_name')
          echo "Latest release tag: $tag"
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Run gpustack copy-images (runner)
        run: |
          docker run --pull always --rm --privileged --network host --ipc host --entrypoint "" gpustack/gpustack:${{ steps.latest_release.outputs.tag }} gpustack copy-images \
            --repository runner \
            --max-retries 3 \
            --max-workers 2 \
            --backend ${{ matrix.backend }} \
            --dest ${{ vars.DOCKER_MIRROR_REGISTRY }} \
            --dest-user ${{ secrets.DOCKER_MIRROR_USER }} \
            --dest-passwd ${{ secrets.DOCKER_MIRROR_PASSWORD }}
